Repository cisagov/pshtt_reporter, pull requests merged in 2023-11, with the labels that each got.

#87 Fix HTTPS watermark
  README.md
  src/report/https_scan_report.mustache
  src/version.txt
Labels: bug, version bump

#93 Get rid of Python warning about use of deprecated function
  .pre-commit-config.yaml
  README.md
  src/report/generate_https_scan_report.py
  src/version.txt
Labels: improvement, version bump, python

#94 Get rid of LaTeX warnings
  README.md
  src/report/https_scan_report.mustache
  src/version.txt
Labels: improvement, version bump
